Library yang digunakan :
cv2
numpy
matplotlib
os


Saya menggunakan "Kaggle Notebook" untuk mengerjakan tugas ini, sehingga import dataset akan berhasil apabila menggunakan notebook yang sama dengan yang saya gunakan.